<section class="w-full flex flex-col items-center gap-6 ">
    <!-- Avatar -->
    <img id="avatar" class="block w-36 h-36 rounded-full"
    src={{site.data.infoAboutMe.profilePicture}}
    alt="Rounded avatar" />

    <!-- Title -->
    <h1 class="text-xl">About me</h1>

    <!-- Card -->
    <div class="card max-w-2xl grid md:grid-cols-2 gap-4 w-full">

        <div id="info-list" class="border-b-2 border-blue-700 pb-4 md:border-b-0 md:border-r-2">
            <ul class="grid gap-x-5 gap-y-3 grid-cols-[min-content_1fr]">
                {% for infoAboutMe in site.data.infoAboutMe.profile %}
                    <p class="bg-blue-800 text-white w-fit h-fit px-1">{{infoAboutMe.infoName}}</p> <p class="break-all"> {{infoAboutMe.value}}</p>
                {% endfor %}
            </ul>
        </div>

        <div id="text-box">
            <p>
                {{site.data.infoAboutMe.aboutMeText}}
            </p>
        </div>

    </div>
</section>