<div id="aboutMe" class="flex flex-col items-center">
    <img class="block w-28 h-28 rounded-full"
        src="https://images.pexels.com/photos/2589653/pexels-photo-2589653.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
        alt="Rounded avatar" />

    <h1>About me</h1>

    <!-- https://merakiui.com/components/ cards first result -->
    <div class="max-w-2xl px-8 py-4 mx-auto bg-white rounded-lg shadow-md">
        <p class="mt-2 text-gray-600">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora expedita
            dicta totam aspernatur doloremque. Excepturi iste iusto eos enim
            reprehenderit nisi, accusamus delectus nihil quis facere in modi ratione
            libero!
        </p>
    </div>
</div>