<div id="aboutMe" class="flex flex-col items-center">
    {% include aboutMeComponents/avatar.html %}


    <h1>About me</h1>

    <div class="card">
        <div id="info-list">
            <ul>
                <li>
                    <p><span>Age: </span> 1223</p>
                </li>
            </ul>
        </div>

        <div id="text-box">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora expedita
                dicta totam aspernatur doloremque. Excepturi iste iusto eos enim
                reprehenderit nisi, accusamus delectus nihil quis facere in modi ratione
                libero! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora expedita
                dicta totam aspernatur doloremque. Excepturi iste iusto eos enim
                reprehenderit nisi, accusamus delectus nihil quis facere in modi ratione
                libero! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora expedita
                dicta totam aspernatur doloremque. Excepturi iste iusto eos enim
                reprehenderit nisi, accusamus delectus nihil quis facere in modi ratione
                libero! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora expedita
                dicta totam aspernatur doloremque. Excepturi iste iusto eos enim
                reprehenderit nisi, accusamus delectus nihil quis facere in modi ratione
                libero! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora expedita
                dicta totam aspernatur doloremque. Excepturi iste iusto eos enim
                reprehenderit nisi, accusamus delectus nihil quis facere in modi ratione
                libero!
            </p>
        </div>

    </div>
</div>