<nav id="navbar"
    class="dark:bg-neutral-900 bg-white fixed md:sticky md:top-0 h-screen w-52 md:w-auto transition-all md:transform-none -translate-x-full z-50">
    <!-- open/close menu button -->
    <button type="button" id="sidebarButton"
        class="md:hidden absolute items-center p-2 rounded-r-md text-gray-400 hover:bg-gray-300 left-full top-[10%] dark:bg-neutral-900 bg-white md"
        onclick="invertVisibilityOfSidebar()">
        <svg class="w-10 h-10" fill="currentColor" viewBox="0 0 20 20">
            <path
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" />
        </svg>
    </button>

    <!-- logo / my name nicely printed -->
    <div id="logo" class="p-9 border-b-2 border-blue-700 flex flex-col items-center">
        <h1 class="px text-3xl text-blue-700 text-center">Timon Gisler</h1>
        <h2 class="text-center text-xs">Junior Developer</h2>
    </div>

    <!--navbar links -->
    <ol class="">
        {% for navbarLink in site.data.navbarLinks %}
        <li
            class="hover:bg-blue-100 dark:hover:bg-blue-900 cursor-pointer h-12 flex items-center pl-4 hover:border-l-4 border-b border-blue-700">
            <a class="h-full w-full flex items-center" href= {{ '#' | append: navbarLink.link | replace: ' ', '-'}}>{{navbarLink.name}}</a>
        </li>
        {% endfor %}
    </ol>


</nav>


<script>
    let sideBarButton = document.getElementById("sidebarButton");
    let navbar = document.getElementById("navbar");

    function invertVisibilityOfSidebar() {
        if (navbar.classList.contains("-translate-x-full")) {
            navbar.classList.remove("-translate-x-full")
        } else {
            navbar.classList.add("-translate-x-full")
        }
    }
</script>