<nav class="py-2.5 bg-black">
    <div class="flex justify-between items-center">
        <!-- Burger menu -->
        <button type="button" class="md:hidden flex items-center p-2 rounded-lg text-gray-400 hover:bg-gray-700">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
                <path d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"/>
            </svg>
        </button>

        <!-- Links -->
        <div class="hidden md:block text-white">
            <ol class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projekte</a></li>
            </ol>
        </div>

        <h1>Timon Gisler</h1>

    </div>
</nav>