<section>
    <div class="mx-auto flex w-80 flex-col justify-center bg-white rounded-2xl shadow-xl shadow-gray-400/20">

        <!-- Image -->
        <img class="aspect-video w-80 rounded-t-2xl object-cover object-center"
            src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80">

        <div class="p-6 pt-0">
            <!-- tags -->
            <div id="tags" class="pt-2">
                {% include tags.html %}
            </div>

            <!-- Content text -->
            <div class="">
                <h1 class="text-2xl font-medium pb-2">Your Heading</h1>
                <p class="text leading-6">A wonderful serenity has taken possession of my entire soul,
                    like
                    these sweet mornings of spring which I enjoy with my whole heart.</p>
            </div>
        </div>

    </div>
</section>