<section class="w-80 dark:bg-neutral-900 bg-white rounded-2xl shadow-md flex flex-col">


    <!-- Image -->
    <img class="aspect-video w-80 rounded-t-2xl object-cover object-center" src={{include.image_url}}>

    <div class="p-6 pt-0 flex-grow">
        <!-- tags -->
        <ul id="tags" class="pt-4 pb-2 flex gap-2">
            {%- for tag in include.tags -%}
            {% include tags.html tagName=tag%}
            {%- endfor -%}
        </ul>

        <!-- Content text -->
        <div class="">
            <h1 class="text-2xl font-medium pb-2">{{include.title}}</h1>
            <!-- remove all html formatting, only show first 156 symbols -->
            <p class="text leading-6">{{ include.text | strip_html | truncate: 156 }}
        </div>
    </div>

    {% comment %} decide what happens on button click, if a link is provided open it in new tab, otherwise do nothing {% endcomment %}
    {% capture demo_onClick%}
    {% if {{include.demo_link}}!=nil or {{include.demo_link}}!=""%}
    "window.open('{{include.demo_link}}','_blank');"
    {% else %}
    ""
    {% endif %}
    {% endcapture %}

    {% capture github_onClick %}
    {% if {{include.github_link}}!=null%}
    "window.open('{{include.github_link}}','_blank');"
    {% else %}
    ""
    {% endif %}
    {% endcapture %}

    {% comment %} set button do disabled, if no link is provided for this button {% endcomment %}
    {% if {{include.demo_link}} == null%}
    {% assign demoDisabled = "disabled" %}
    {% else %}
    {% assign demoDisabled = "" %}
    {% endif %}

    {% if {{include.github_link}} == null%}
    {% assign githubDisabled = "disabled" %}
    {% else %}
    {% assign githubDisabled = "" %}
    {% endif %}

    <div id="buttons" class="flex justify-self-end">
        {% include projectCardButton.html text="Demo" disabled=demoDisabled onClick=demo_onClick viewBox='"0 0 48 48"' d='"M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h13.95v3H9v30h30V25.05h3V39q0 1.2-.9 2.1-.9.9-2.1.9Zm10.1-10.95L17 28.9 36.9 9H25.95V6H42v16.05h-3v-10.9Z"' %}
        {% include projectCardButton.html text="Github" disabled=githubDisabled onClick=github_onClick viewBox='"0 0 24 24"' d='"M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"'%}
        {% include projectCardButton.html text="More" onClick="showDetailOfThisProject()" viewBox='"0 0 40 40"' d='"m12.4 35.7-2.1-2.1L30.9 13H12v-3h24v24h-3V15.1Z"'%}
    </div>
</section>

<script>
    function showDetailOfThisProject() {
        let detailOfThisProject = document.getElementById("{{include.title}}");
        detailOfThisProject.classList.remove("hidden");
    }
</script>