<section class="w-80 dark:bg-neutral-900 bg-white rounded-2xl shadow-md">


    <!-- Image -->
    <img class="aspect-video w-80 rounded-t-2xl object-cover object-center" src={{include.image_url}}>

    <div class="p-6 pt-0">
        <!-- tags -->
        <ul id="tags" class="pt-4 pb-2 flex gap-2">
            {%- for tag in include.tags -%}
            {% include tags.html tagName=tag%}
            {%- endfor -%}
        </ul>

        <!-- Content text -->
        <div class="">
            <h1 class="text-2xl font-medium pb-2">{{include.title}}</h1>
            <!-- remove all html formatting, only show first 156 symbols -->
            <p class="text leading-6">{{ include.text | strip_html | truncate: 156 }}
        </div>
    </div>

</section>